		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #e4e4e4 !important;
		}
		.user_card {
			width: 550px;
			margin-top: auto;
			margin-bottom: auto;
			background: #417690;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		a{
			color: white !important;
			text-decoration: none !important;
		}

		.header{
			display: flex;
			justify-content: space-between;
			padding: 10px;
			background: #417690;
			color: #f5dd5d;
		}

		.header__section{
			display: flex;
			align-items: center;
		}

		.header__item{
			padding: 10px 15px;
			fond-size: 20px;
			margin-left: 5px;
		}

		.header__item:hover{
			background-color: #79aec8;
			border-radius: 4px;
		}

		#form-title{
			color: #f5dd5d;
			text-align: justify;

		}

		.login_btn {
			width: 150%;
			background: #79aec8;
			color: white !important;
			text-decoration: none !important;
			border-radius: 5px;
			margin-top: auto;
			margin-bottom: auto;
			padding: 5px;
		}
		.login_btn:hover {
			background: black;
		}
